.glass-container {
    padding: 2px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    color: white;
    text-align: center;
    transition: color 0.3s ease;
    text-shadow: 0 0 5px rgba(0,0,0,0.6);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    text-align: center;
}

button#closeBtn  {
    color: red;
}

.tab-bar {
    display: flex;
    /* background-color: #f8f9fa; */
    border-bottom: 1px solid #e9ecef;
    height: 40px;
    -webkit-app-region: drag;
    cursor: move;
    align-items: center; /* Space for window controls */
    position: relative;
}